{% include 'publicheader.html' %}
<!DOCTYPE html>
<html>
	<head>
		<title>SMART SWITCH CONTROL PANEL</title>
		

		<style>

					body
					{
						background-color:#182026;
						/* background-color: rgb(7, 30, 92); */
						/* color: white; */
					}

					h3
					{
						color: white;
						font-family: myFirstFont;
					}

					h1
					{
						color: white;
						font-family: myFirstFont;
					}

					table{ 
						border-collapse:separate; 
						border-spacing: 0 50px; 
					} 
					
					th,td{ 
						width: 200px; 
						text-align: center; 
						/* border: 1px solid black;  */
						padding: 20px;
					}

					/* The switch - the box around the slider */
					.switch {
						position: relative;
						display: inline-block;
						width: 60px;
						height: 34px;
					}
					
					/* Hide default HTML checkbox */
					.switch input {
						opacity: 0;
						width: 0;
						height: 0;
					}
					
					/* The slider */
					.slider {
						position: absolute;
						cursor: pointer;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #ccc;
						-webkit-transition: .4s;
						transition: .4s;
					}
					
					.slider:before {
						position: absolute;
						content: "";
						height: 26px;
						width: 26px;
						left: 4px;
						bottom: 4px;
						background-color: white;
						-webkit-transition: .4s;
						transition: .4s;
					}
					
					input:checked + .slider {
						background-color: rgb(75, 204, 75);
					}
					
					input:focus + .slider {
						box-shadow: 0 0 1px #2196F3;
					}
					
					input:checked + .slider:before {
						-webkit-transform: translateX(26px);
						-ms-transform: translateX(26px);
						transform: translateX(26px);
					}
					
					/* Rounded sliders */
					.slider.round {
						border-radius: 34px;
					}
					
					.slider.round:before {
						border-radius: 50%;
					}
		
		</style>

	</head>

	<body>
		<center>
			<h1>SMART SWITCH CONTROL PANEL</h1>
		</center>
		
		<br>
		<form method="POST" enctype="multipart/form-data">
			<center>
		
				<table>
				
				
          			<!-- <tr>
            			<td>BUTTON 1<input type="checkbox" name="button1" id="btn1" value="on" onclick='changeState(id)'></td>
            			<td>BUTTON 2<input type="checkbox" name="button2" id="btn2" value="on" onclick='changeState(id)'></td>    
          			</tr>

          			<tr>
            			<td>BUTTON 3<input type="checkbox" name="button3" id="btn3" value="on" onclick='changeState(id)'></td>
            			<td>BUTTON 4<input type="checkbox" name="button4" id="btn4" value="on" onclick='changeState(id)'></td>    
					</tr> -->
					  
					<tr>
						<td><h3>Button 1</h3>
							<label class="switch">
								<input type="checkbox" name="button1" id="btn1" value="on" onclick='changeState(id)'>
								<span class="slider round"></span>
							</label>
						</td> 

						<td><h3>Button 2</h3>
							<label class="switch">
								<input type="checkbox" name="button2" id="btn2" value="on" onclick='changeState(id)'>
								<span class="slider round"></span>
							</label>
						</td> 

					</tr>

					

					<tr>
						<td><h3>Button 3</h3>
							<label class="switch">
								<input type="checkbox" name="button3" id="btn3" value="on" onclick='changeState(id)'>
								<span class="slider round"></span>
							</label>
						</td> 


						<td><h3>Button 4</h3>
							<label class="switch">
								<input type="checkbox" name="button4" id="btn4" value="on" onclick='changeState(id)'>
								<span class="slider round"></span>
							</label>
						</td> 

					</tr>
  				
            
  				
				</table>

				

			</center>

			<script>

				var btn1_status
				var btn2_status
				var btn3_status
				var btn4_status
				var btn_status
				
				
				window.onload = function () 
								{		
    								checkonoff("D5");
									checkonoff("D4");
									checkonoff("D0");
									checkonoff("D2");
									check_device_online();
									//button_status_startup();
									//console.log("Entered the window onload");
								};


							
							auth_code = "4LrnMs0PkPlgyC6GDKrzBJYLdDZDjmfi";

							var states = ["ON","OFF"]; // your possible states
							//current_state = 1; // your flag

							// current_state_for_btn1 = 1;  
							// current_state_for_btn2 = 1;
							// current_state_for_btn3 = 1;
							// current_state_for_btn4 = 1;

							function changeState(btn) 
							{
								
							
							// console.log("Current_state before: "+current_state);
							// current_state=!current_state; // switch
							// console.log("Current_state after //switch: "+current_state);
							// document.getElementById('btn3').value=states[current_state?1:0]; // write your state
							// console.log("Current value of button:"+btn+" is "+ document.getElementById(btn).value);
								//   window.alert("value changed to "+current_state);


							switch(btn)	  //this switch status allows us to get the current on or off value of buttons and also check them
							{	
								case 'btn1':
									
									console.log("old status of button: "+btn+"is:"+btn1_status);
									console.log("Current_state before: "+btn1_status);
									btn1_status=!btn1_status; // switch
									console.log("Current_state after //switch: "+btn1_status);
									document.getElementById(btn).value=states[btn1_status?1:0]; // write your state
									console.log("Current value of button:"+btn+" is "+ document.getElementById(btn).value);
									
									if(document.getElementById(btn).value == "ON")
									{
										pin_on("D5");
									}

									else if(document.getElementById(btn).value == "OFF")
									{
										pin_off("D5");
									}
									

									break;

								case 'btn2':
									
									console.log("old status of button: "+btn+"is:"+btn2_status);
									console.log("Current_state before: "+btn2_status);
									btn2_status=!btn2_status; // switch
									console.log("Current_state after //switch: "+btn2_status);
									document.getElementById(btn).value=states[btn2_status?1:0]; // write your state
									console.log("Current value of button:"+btn+" is "+ document.getElementById(btn).value);

									if(document.getElementById(btn).value == "ON")
									{
										pin_on("D4");
									}

									else if(document.getElementById(btn).value == "OFF")
									{
										pin_off("D4");
									}
									
									
									break;	

								case 'btn3':
									
									console.log("old status of button: "+btn+"is:"+btn3_status);
									console.log("Current_state before: "+btn3_status);
									btn3_status=!btn3_status; // switch
									console.log("Current_state after //switch: "+btn3_status);
									document.getElementById(btn).value=states[btn3_status?1:0]; // write your state
									console.log("Current value of button:"+btn+" is "+ document.getElementById(btn).value);

									if(document.getElementById(btn).value == "ON")
									{
										pin_on("D0");
									}

									else if(document.getElementById(btn).value == "OFF")
									{
										pin_off("D0");
									}

									break;

								case 'btn4':

									console.log("old status of button: "+btn+"is:"+btn4_status);
									console.log("Current_state before: "+btn4_status);
									btn4_status=!btn4_status; // switch
									console.log("Current_state after //switch: "+btn4_status);
									document.getElementById(btn).value=states[btn4_status?1:0]; // write your state
									console.log("Current value of button:"+btn+" is "+ document.getElementById(btn).value);

									if(document.getElementById(btn).value == "ON")
									{
										pin_on("D2");
									}

									else if(document.getElementById(btn).value == "OFF")
									{
										pin_off("D2");
									}
									
									break;
								
								default:
												console.log("Entered Switch statement in line 103 and passed btn value is: "+btn);
							}


							//   if(current_state==0)
							//   {
							// 	//document.getElementById('btn1').checked = true;
							// 	window.alert("value changed to ON and currently passed button id="+btn);
							// 	//httpGet(theUrl);
								
							//   }

							//   else if(current_state==1)
							//   {
							// 	//document.getElementById('btn1').checked = false;
							// 	window.alert("value changed to OFF and currently passed button id="+btn);
							// 	//httpGet(theUrl);
								
							//   }
							}

							

							function debugg()
							{	
								console.log("Entered the debug function")
								console.log("button D5 "+btn1_status)
								console.log("button D4 "+btn2_status)
								console.log("button D0 "+btn3_status)
								console.log("button D2 "+btn4_status)
								console.log(btn_status)
								
							}
							
							function checkonoff(pin_to_check)   //this function checks wheather the given pin is onn or off and also assign status to buttons
							{
								var request = new XMLHttpRequest()
								var url = "http://blynk-cloud.com/"+auth_code+"/get/"+pin_to_check;
								console.log(url)

								request.open('GET', url, true)
								request.onload = function() 
								{
  									// Begin accessing JSON data here
  									var data = JSON.parse(this.response)

 									if (request.status >= 200 && request.status < 400) 
									{
										console.log(data)
										
										if(data == 1)
										{
											//window.alert("data value "+data);
											console.log("PIN "+pin_to_check+" is off")
											btn_status = 1;
											
										}

										else if(data == 0)
										{
											console.log("PIN "+pin_to_check+" is on")
											btn_status = 0;
											
										}
										
    									// data.forEach(movie => 
										// {
      									// 	console.log(movie.title)
    									// })
  									} 

									else 
									{
    									console.log('error')
 									}
									 //
									 //console.log(request)
									 //console.log("btn_status inside the nested function: "+btn_status)
									 //return btn_status;

									//I DONT KNOW ANY ANOTHER METHOD PLEASE COORPORATE 
									 if(pin_to_check == "D5")
									 	{
											btn1_status = btn_status;
										}
									else if(pin_to_check == "D4")
										{
											btn2_status = btn_status;
										}
									else if(pin_to_check == "D0")
										{
											btn3_status = btn_status;
										}
									else if(pin_to_check == "D2")
										{
											btn4_status = btn_status;
										}
									 

									
									 
								}

								
								request.send()
								
								
								//return 1;
								
								//console.log("btn_status outside the nested function: "+btn_status)
								//return btn_status;
								
							}

							//The setTimeout is used to allow the function to get executed  after some time otherwise the function will be executed
							//immediately and values not assigning properly

							setTimeout(function()  
											{
												//console.log("Called the button_status_startup")
												// console.log("button D5 "+btn1_status)
												// console.log("button D4 "+btn2_status)
												// console.log("button D0 "+btn3_status)
												// console.log("button D2 "+btn4_status)
												if(btn1_status == 0)
												{
													document.getElementById('btn1').checked = true;
													
												}
												if(btn2_status == 0)
												{
													document.getElementById('btn2').checked = true;
													
												}
												if(btn3_status == 0)
												{
													document.getElementById('btn3').checked = true;
													
												}
												if(btn4_status == 0)
												{
													document.getElementById('btn4').checked = true;
													
												}

											},450);	
							

							function pin_on(pin)
							{
								var url = "http://blynk-cloud.com/"+auth_code+"/update/"+pin+"?value=0";
   								var xmlHttp = new XMLHttpRequest();
    							xmlHttp.open( "GET", url, true ); // false for synchronous request
    							xmlHttp.send( null );
    							return xmlHttp.responseText;
							}	

							function pin_off(pin)
							{
								var url = "http://blynk-cloud.com/"+auth_code+"/update/"+pin+"?value=1";
   								var xmlHttp = new XMLHttpRequest();
    							xmlHttp.open( "GET", url, true ); // false for synchronous request
								xmlHttp.send( null );
    							return xmlHttp.responseText;
							}	
							
							function check_device_online()
							{
								var url = "http://blynk-cloud.com/"+auth_code+"/isHardwareConnected";
   								var xmlHttp = new XMLHttpRequest();
    							xmlHttp.open( "GET", url, false ); // false for synchronous request
								//xmlHttp.setRequestHeader("Content-type", "application/json;charset=utf-8");
								xmlHttp.send();
								//alert(xmlHttp.responseText);
								//return xmlHttp.responseText;
								console.log(xmlHttp)
								console.log(xmlHttp.response);

										if(xmlHttp.response == "false")
										{
											//document.write("<center><h1>Device is OFFLINE</h1></center>");
											window.alert("Device is OFFLINE");
											
										}

										else if(xmlHttp.response == "true")
										{
											//document.write("<center><h1>Device is ONLINE</h1></center>");
											window.alert("Device is ONLINE");
											
										}
							}	 

							// function check_device_online()
							// {
							// 	console.log("Entered the check_device_online fn");
							// 	var request1 = new XMLHttpRequest()
							// 	var url = "http://blynk-cloud.com/"+auth_code+"/isHardwareConnected";
							// 	console.log(url)

							// 	request1.open('GET', url, false)
								
							// 	request1.onload = function() 
							// 	{	
							// 		console.log("value of data1"+data1)
  							// 		// Begin accessing JSON data here
							// 		  var data1 = JSON.parse(this.response)
									  

 							// 		if (request1.status >= 200 && request1.status < 400) 
							// 		{	
							// 			document.write("<center><h1>Entered check_device_online fn</h1></center>");
										
										
							// 			if(request1.response == "false")
							// 			{
							// 				document.write("<center><h1>Device is OFFLINE</h1></center>");
											
							// 			}

							// 			else if(request1.response == "true")
							// 			{
							// 				document.write("<center><h1>Device is ONLINE</h1></center>");
											
							// 			}
							// 		}
							// 	}
							// 	console.log("Reached line 369")	
							// }
			</script>

		</form>	

	</body>
</html>