{% include 'adminheader.html' %}
{% include 'cssstyle.html' %}

<html>
    <body>
        <form method="POST">

            <center>

                <h1>EXISTING USERS</h1>
                <table>
                    <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <!-- <th>TO_TIME</th>
                    <th>BUTTON</th>
                    <th>STATUS</th> -->
                    
                    </tr>
        
                {% for row in output_data %}
                    <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <!-- <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>        -->
                    </tr>
                {% endfor %}
                </table>

                <h3>Delete USER:</h3><input type="number" name="user_id" placeholder="ENTER ID">
                <input type="submit" name="submit" value="submit">

            </center>

        </form>

    </body>
</html>