{% include 'publicheader.html' %}
	<form method="POST">
		<center>
			<table>
				<tr><h1>login form</h1></tr>
				<tr>
    				<td>Enter username:</td>
    				<td><input type="text" name="username"></td>
    				
  				</tr>
  				<tr>
  					<td>Enter password:</td>
    				<td><input type="password" name="password"></td>
    				
  				</tr>
  				
			</table>
		
			<center>
  			<input type="submit" name="submit" value="submit">
  			</center>
        <a href="/registration">Registration</a>
        <!-- <center>
        <a href="/templates/reg.html">Register</a>
        
        </center> -->

		</center>

	</form>

{% include 'publicfooter.html' %}