{% include 'adminheader.html' %}
{% include 'cssstyle.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>registration</title>
</head>
<body>
	<form method="POST">
		<center>
			<table>
				<tr><h1>ADD USER</h1></tr>
				
        
        <tr>
            <td>Enter Username:</td>
            <td><input type="text" name="username" required=""></td>
            
        </tr>

        <tr>
            <td>Enter Password:</td>
            <td><input type="password" name="pass" required=""></td>
            
        </tr>

  		
             				         
           
			</table>
		
			<center>
  			<input type="submit" name="submit" value="submit">
  			</center> 
		</center>
   
	</form>

</body>
</html>